<template>
  <div>
    <!--开发版警告，后续可能会删除-->
    <v-alert
      border="left"
      color="deep purple accent-4"
      dark
    >
      {{ devWarn }}
    </v-alert>
    
  </div>
</template>

<script>
export default {
  name: 'bill-add',
  data() {
    return {
      devWarn: 'Before using the bookkeeping function, make sure you are proficient in elementary accounting with knowledge of double-entry bookkeeping and accounting entries.',

    }
  }
}
</script>

<style>

</style>