<template>
  <div>
    
  </div>
</template>

<script>
export default {
  name: 'bill-manager',
  data: () => ({
    
  })
}
</script>

<style>
  @import url('../assets/Financial/bill-manager.css');
</style>