<template>
  <div class="mx-4 my-4">
    <v-alert 
      type="warning"
      dense
      border="left"
    >
      We are very sorry to tell that this Application is still in <strong>developing</strong>...
    </v-alert>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'Dashboard',
  data: () => ({

  }),
  components: {
    
  }
}
</script>

<style>
  
</style>
