<template>
  <div class="mx-4 my-4">
    <v-alert 
      type="info"
      dense
      border="left"
    >
      Financial Page
    </v-alert>
    
  </div>
</template>

<script>
export default {
  name: 'Financial',
  data: () => ({
    
  })
}
</script>

<style>

</style>