<template>
  <div class="mx-4 my-4">
    <Taskform></Taskform>
  </div>
</template>

<script>
import Taskform from '../components/Todos/Task-form'

export default {
  name: 'Todo',
  components: {
    Taskform
  },
  data: () => ({
    
  })
}
</script>

<style>
  
</style>