<template>
  <div>
    <v-app>
      <!--页面渲染组件-->
      <v-scroll-y-reverse-transition hide-on-leave>
        <router-view></router-view>
      </v-scroll-y-reverse-transition>

      <!--底部导航栏-->
      <v-bottom-navigation
        fixed
        dark
        shift
        style="bottom: 0; left: 0; right: 0; z-index: 1000;"
      
      >
        <v-btn :to="{path: '/'}">
          <span>CLI</span>
          <v-icon color="red lighten-2">mdi-cube</v-icon>
        </v-btn>
        <v-btn :to="{path: '/todo'}">
          <span>Todo</span>
          <v-icon color="green lighten-2">mdi-check-all</v-icon>
        </v-btn>
        <v-btn :to="{path: '/financial'}">
          <span>Bills</span>
          <v-icon color="amber lighten-2">mdi-database</v-icon>
        </v-btn>
        <v-btn :to="{path: '/schedule'}">
          <span>Class</span>
          <v-icon color="indigo lighten-2">mdi-school</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-app>
  </div>
</template>

<script>
import Vue from 'vue'
import '@mdi/font/css/materialdesignicons.css'
import Vuetify from 'vuetify/lib'
//import DashBoard from './views/Dashboard'

Vue.use(Vuetify)

export default {
  name: 'App',
  components: {

  },
  data: () => ({
    //
    drawer: false,
  })
};
</script>

<style>
  
</style>
