<template>
  <div>
    <v-card 
      color="grey lighten-4"
    >
      <v-card-title>
        <v-icon
          color="success"
          class="mr-14"
          size="45"
          v-if="remainingTasks == 0"         
        >
          mdi-check-all
        </v-icon>

        <v-icon
          color="warning"
          class="mr-14"
          size="45" 
          v-if="remainingTasks > 0"        
        >
          mdi-check-all
        </v-icon>

        <v-row align="start">
          <div class="caption gray--text text-uppercase mr-2">
            Remaining
          </div>

          <div>
            <span
              class="display-2 font-weight-black mr-1"
              v-text="remainingTasks"
            ></span>
            <strong>TASKS</strong>
          </div>
        </v-row>

        <v-spacer></v-spacer>

        <v-btn
          icon
          class="align-self-sm-start"
          size="20"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-card-title>
    
    </v-card>

    <v-list 
      two-line
      class="mt-4 py-0"
    >
      <v-card 
        v-for="(task, i) in tasks" 
        :key="i" 
        :color="taskColor[i]+' lighten-2'" 
        class="py-1 px-2 my-2"
        dark
      >
        <v-list-item>
          <v-checkbox
            v-model="task.done"
            :color="task.done && 'gray lighten-2' || 'primary'"
            class="mr-3"
          ></v-checkbox>
          <label>{{ task.text }}</label>

          <v-spacer></v-spacer>

          <v-scroll-x-transition>
            <v-icon v-if="task.done" color="black">
              mdi-check
            </v-icon>
          </v-scroll-x-transition>

        </v-list-item>
      </v-card>
    </v-list>

  </div>
</template>

<script>
export default {
  name: 'Taskform',
  data: () => ({
    searchText:'',
    tasks: [
      {
        done: true,
        text: 'TestTask-1'
      },
      {
        done: false,
        text: 'TestTask-2'
      },
      {
        done: false,
        text: 'TestTask-3'
      },
      {
        done: false,
        text: 'TestTask-4'
      }
    ],
    task: null,
    taskColor: [
      'pink',
      'teal',
      'orange',
      'purple',
      'blue',
      'indigo',
    ]
    
  }),
  computed: {
    completedTasks() {
      return this.tasks.filter(task => task.done).length
    },
    progress() {
      return this.completedTasks / this.tasks.length * 100
    },
    remainingTasks() {
      return this.tasks.length - this.completedTasks
    }
  },
  methods: {
    showOnCli() {
      this.$emit("getTodos", this.remainingTasks)
    },
    /**
    randomColor() {
      let i = Math.round(Math.random() * this.taskCardColor.colorData.length)
      if (i == this.taskCardColor.prevColorTag) {
        i++
      }
      this.taskCardColor.prevColorTag = i
      this.taskColor.push(this.taskCardColor.colorData[i])
    }
    */
  }
}
</script>

<style>
  
</style>